[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HaploCatcher"]
	path = HaploCatcher
	url = https://github.com/zjwinn/haplocatcher
